
/* General styles */
p{
  text-align: justify;
}

img {
  max-width: 200px;
}

#site-title {
  font-style: oblique;
  font-size: 4rem;
  text-align: center;
  background-color: var(--bg-color-main);
  color: white;
  margin: 5px;
  padding: 20px;
}

ul, ol {
  list-style-position: inside;
  text-align: left;
  margin-left: 30px;
}

footer {
  padding: 30px;
}

/* Grid styles */
.grid-container {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  padding: 10px;
  gap: 40px;
}

.grid-item {
  background-color: var(--bg-color-secondary);
  font-size: var(--fontsize-default);
  text-align: center;
}

/*
.grid-item-1 {

}

.grid-item-2 {

}

.grid-item-3 {

}

.grid-item-4 {

}

.grid-item-6 {

}
*/
@media (max-width: 680px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;

  }
  [class^="grid-item-"] {
    background-color: var(--bg-color-secondary);

  }
}

